{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div   class="">
        <section class=" mt-5 p-md-2 justify-content-center align-items-center container-xxl pt-3 ">
            <div class=" card-body rounded shadow">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi suscipit ex deleniti cum mollitia consectetur commodi nemo itaque, praesentium voluptatibus totam, voluptatem eos rerum necessitatibus unde at exercitationem delectus?
            </div>
        </section>
    </div>
{% endblock %}